<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/10.2.1/highcharts.js" integrity="sha512-EjSSnefV8NrJ2zUU++TBkLjuj8QhVBbJn084l0xkHN1bL0l7a7d+bU/nJfwp60Dym+KPOxHd2yv1tTAsW0YnXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.6.2/fetch.min.js" integrity="sha512-1Gn7//DzfuF67BGkg97Oc6jPN6hqxuZXnaTpC9P5uw8C6W4yUNj5hoS/APga4g1nO2X6USBb/rXtGzADdaVDeA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</head>
<body>
    <section>
        <div style="background-color:whitesmoke;height: 80px;">
            <div class="container" style="max-width:95%">
                <div class="row">
                <div class="col-sm-6">
                    <p style="font-family: 'Staatliches', cursive;font-size: 25px;padding-top: 20px;">Neutron</p>
                </div>
                <div class="col-sm-6">
                    
                  <div class="dropdown">
                    <button class="dropbtn"><p style="font-family: 'Staatliches', cursive;font-size: 25px;padding-top: 20px;">Codechef&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></button>
                    <div class="dropdown-content">
                      <a href="/codechef/rating">Rating</a>
                      <a href="/codechef/ranking">Ranking</a>
                      <a href="/codechef/solvecount">Solvecount</a>
                    </div>
                  </div>
                  <div class="dropdown">
                    <button class="dropbtn"><p style="font-family: 'Staatliches', cursive;font-size: 25px;padding-top: 20px;">Codeforces&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></button>
                    <div class="dropdown-content">
                      <a href="#">Rating</a>
                    
                    </div>
                  </div>
                  <div class="dropdown">
                    <button class="dropbtn"><p style="font-family: 'Staatliches', cursive;font-size: 25px;padding-top: 20px;">Hackerrank&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></button>
                    <div class="dropdown-content">
                      <a href="#">Rating</a>
                    </div>
                  </div>
                  <div class="dropdown">
                    <button class="dropbtn"><p style="font-family: 'Staatliches', cursive;font-size: 25px;padding-top: 20px;">Hackerearth&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></button>
                    <div class="dropdown-content">
                      <a href="#">Rating</a>
                    </div>
                  </div>
                </div>
            </div>
            </div>
        </div>
      </section>
      
    <div class="container" id="container"></div>
    <div class="container" id="container2"></div>
    <script>
        window.onload=()=>{

const baseUrl   =   "https://competitive-coding-api.herokuapp.com/api/codechef/"


    let users   =   ["reejubhai","rudra56","demonblood"]

    let ranks  =   []
    let solveCounts=[]
    for(let user of users){
        fetch(baseUrl+user)
            .then(res=>res.json())
            .then(res=>{
                console.log(res)
                let name    =   res.user_details.name;
                let rank    =   res.global_rank
                rank        =   rank    === 'Inactive'?0:Number(rank)
    
                ranks.push(
                    {
                        name    :   name,
                        data    :   [rank]
                    }
                )
             
                
            }).then(()=>{
                Highcharts.chart('container', {
                    chart: {
                        type: 'bar'
                    },
                    title: {
                        text: 'Ranking'
                    },
                    yAxis: {
                        title: {
                            text: 'Ranking'
                        },

                        // labels: {
                        //         enabled: true,
                        //         formatter: function() {
                        //                 console.log(ranks[this.value]);
                        //             return ranks[this.value].name;
                        //             },
                        //     }
                    },
                
                    series: [
                        ...ranks
                    ]
            });
            
            })
            .catch(
                err=>console.log(err)
            );
    }
    


        }   
</script>
</body>


<head>

    <!-- <script src="custom.src.js"></script> -->
   <!-- <script src="https://code.highcharts.com/modules/accessibility.js"></script> -->

</head>
<body>
    
</html>